pandas
Pillow
googlemaps
streamlit-geolocation
geopy
folium
requests
plotly
gspread
gdown
oauth2client
streamlit
tensorflow==2.20.0
numpy>=1.26.0
requests
h5py
matplotlib
scikit-learn
supabase





